node_modules

out
dist

server
debugAdapters
LLVM
bin/cpptools*
bin/*.dll
bin/.vs
bin/LICENSE.txt

install.lock

*.vsix

.vscode-test/

**/nls.*.json
**/*.nls.*.json

localized_string_ids.h

src/nativeStrings.ts

vscode*.d.ts
.scripts/_*
